do_token          = "dop_v1_xxx"
spaces_access_id  = "xxx"
spaces_secret_key = "xxx"
domain            = "example.com"
region            = "sgp1"

# Cloudflare
cloudflare_api_token  = "xxx"
cloudflare_account_id = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
cloudflare_zone_id    = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

# Mastodon R2
mastodon_media_bucket_name  = "mastodon-media"
mastodon_media_custom_domain = "media.social.example.com"
